
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
 

$primary-color: #ffff;
$secundary-color:#e7e7e7;
$alternative-color:black;
$color-button: #f13f50;
$font-Csecundary:#ffff;
$font:'Montserrat', sans-serif;